@charset "UTF-8";

P {
    text-align: center;
}

h1 {
    text-align:  center;
}
span {
    text-align: center;
}

h2 {

    background-color: crimson;
    text-align: center;
   color: darkgoldenrod;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{

    margin: 20px;
    border: 8px solid green;
    padding: 4px;
}