

@charset "UTF-8";



/* Estilos para a pagina Site2.html */


body{

    background-color:#000000;
}


.TituloPrincipal{

    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px;
    color: #fca311;
    font-family: 'Varela Round', sans-serif;

}

.TituloPrincipal > div{

    flex-flow: row;

}

.BadgesFlex{
    display: flex;
    flex-flow: row;
    width: 1313px;
    flex-direction: row;
    justify-content: space-around;
    
  height: 70px;
  border: double 5px transparent;
  border-radius: 20px;
  background-image: linear-gradient(rgb(0, 0, 14), rgb(0, 0, 14)),         /*here must be*/
                    linear-gradient(to right, #fdca40, #FDA177);    /*both gradients*/
  background-origin: border-box;
  background-clip: content-box, border-box;
  
  
    
    
}

.BadgesFlex > div{

    font-size: 30px;
    line-height: 5px;
    
}

.Speech{

    display: flex;
    flex-flow: row;
    justify-content: center;
    background: linear-gradient(#fdca40, #fdca40);
    background-color: rgb(11, 110, 79);
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    text-indent: 50px;
    margin: 10px;
    padding: 20px;
}

.Speech > div{


}

#menu li{

    display: inline;
    padding: 15px;
}

#menu li a{

    text-decoration: none;
    color: #faa613;
    font-size: 20px;
}

#menu li a:hover{

    color: rgb(11, 110, 79) ;

}

.orientacao
{
    display: flex;
    justify-content:flex-end;
    height: 300px;

}



.br-50{
     
    border-radius: 10px;
}

.footer{
    display: flex;
    justify-content: center;
    color:#faa613 ;
}

.social{

display: flex;
justify-content: center;
flex-direction: row;
height: 50px;
}

.p30{

    padding: 20px;

}

/* Estilos para a pagina Contato.html */

.textCon{

    text-align: center;
    text-align: center;

}
.container{

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(  #fdca40, #fdca40);
    background-color: (#fdca40);
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    text-indent: 50px;
    margin: 10px;
    padding: 20px;
    
}
    .ml-50{

    margin-left: 50px;
}

    .textesquerda{

    text-align: left;
}

    .marg{


}